################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Praktika_wpf2_Perevostsikov/obj/Release
