################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Praktika_wpf2_Perevostsikov/obj/Release
/.vs/Praktika_wpf2(Perevostsikov)/v15/Server/sqlite3
